@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@media print {
  body {
    margin: 0 !important;
  }
}

.main-container {
  font-family: "Lato";
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.ck-content {
  font-family: "Lato";
  line-height: 1.6;
  word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
  min-width: 795px;
  max-width: 1500px;
}

.ck-editor__editable_inline:not(.ck-comment__input *) {
  height: 700px;
  overflow-y: auto;
}

pre {
  @apply bg-gray-700 p-5 rounded-md;
}

.article-content > p {
  @apply text-xl;
}

.article-content > h2 {
  @apply text-3xl;
}

.article-content > ul {
  @apply list-disc;
}

.article-content > ul > li {
  @apply ml-5 md:ml-10 text-xl;
}
